.add_page {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    height: calc(100% - 100px);
}

.add_inputs {
    display: grid;
    position: relative;

    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(7, 5em);

    width: 50%;
}

@media(max-width: 768px) {
    .add_inputs {
        width: 90%;
    }
}

.add_input {
    grid-column: 2;

    margin: 1%;

    background-color: rgb(10, 10, 10);

    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;

    padding: 2%;

    color: aliceblue;

    font-size: medium;
    font-family: consolas;
}

.textarea {
    grid-row: span 2;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome */
}

.ai_example_btn {
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.2em;

    color: black;

    background-color: aliceblue;
    border-radius: 10px;

    cursor: pointer;
}

.ai_example_btn:hover {
    color: rgb(74, 201, 220);
}

.indicate_area {
    grid-column: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;

    font-size: small;

    color: rgb(200, 200, 200);
}

.span2 {
    grid-row: span 2;
}

.add_input_btn {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 3% 20%;

    background-color: aliceblue;
    color: black;

    border-radius: 20px;

    cursor: pointer;
} 

.add_input_btn:hover {
    color: rgb(74, 201, 220);
}