.add_page {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    height: calc(100% - 100px);
}

.add_inputs {
    display: flex;
    flex-direction: column;

    gap: 30px;

    border: 1px solid rgb(70, 70, 70);
    border-radius: 20px;

    width: 25%;

    padding: 3%;
}

.add_input {
    padding: 1em 20%;
    outline: none;

    background-color: rgb(10, 10, 10);
    color: aliceblue;

    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;

    font-size: large;
    font-family: consolas;


}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome */
}

.add_input_btn {
    font-size: large;
    color: rgb(200, 200, 200);
    padding: 1%;

    border-radius: 10px;
    border: 1px solid rgb(70, 70, 70);

    text-align: center;

    cursor: pointer;
}

.add_input_btn:hover {
    border: 1px solid rgb(100, 100, 100);
    color: rgb(230, 230, 230);
}

@media (max-width: 768px) {
    .add_inputs {
        width: 70%;
    }
}