.add_page {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: calc(100% - 100px);
}

.add_inputs {
    display: flex;
    flex-direction: column;

    gap: 30px;

    border: 2px solid rgb(70, 70, 70);
    border-radius: 20px;

    padding: 5% 10%;

    width: 25%;
}

.add_input {
    padding: 10% 10%;
    outline: none;

    background-color: rgb(0, 0, 0);
    color: aliceblue;

    border: transparent;
    border-radius: 100px;

    font-size: large;
    font-family: consolas;
}

.add_input_btn {
    font-size: x-large;
    color: aliceblue;
    padding: 1%;
    
    background: linear-gradient(135deg, rgb(74, 201, 220), rgb(147, 74, 220));

    border-radius: 100px;

    text-align: center;
}

@media (max-width: 768px) {
    .add_inputs {
        width: 70%;
    }
}