#log-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #1e1e1e;
  color: #fff;
  font-family: consolas;
  font-size: small;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  z-index: 9999;
}

#log-panel.open {
  transform: translateX(0);
}

#log-header {
  padding: 10px;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#log-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;     /* 垂直捲動 */
  overflow-x: auto;   /* 不要水平捲動 */
}

.log-entry {
  margin-bottom: 5px;
  white-space: nowrap;
}

.log-info { color: #9cdcfe; }
.log-warn { color: #f9f1a5; }
.log-error { color: #f48771; }

.log-INFO_ {
  color: #51ce9e;
}

.log-WARN_ {
  color: #ffd166;
  background-color: #4a2c11;
  font-weight: bold;
}

.log-ERROR {
  color: #ff6666;
  background-color: #4a1111;
  font-weight: bold;
}

.log-DEBUG {
  color: #c8c8c8;
}