.display_page {
    height: calc(100% - 100px);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.word_display {
    display: flex;

    font-family: consolas;
    color: aliceblue;

    border: 2px solid rgb(70, 70, 70);
    border-radius: 20px;

    padding: 5%;
    
    flex-direction: column;

    gap: 20px;

    max-width: 700px;

    transition: transform 200ms;

    z-index: 0;
}

.display-word {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;

    font-size: xx-large;
    font-weight: bold;
    
    padding: 10%;

    background-color: rgb(30, 30, 30);

    border-radius: 100px;
}

.display-word::after {
    content: '';

    position: absolute;

    background: linear-gradient(135deg, rgb(74, 201, 220), rgb(147, 74, 220));

    width: calc(100% + 10px);
    height: calc(100% + 10px);

    border-radius: 100px;

    z-index: -1;
}

.word_display:hover {
    transform: scale(1.05);
}

.display-line {
    font-size: large;
}

.tip_word {
    font-size: medium;
}