.head_bar {
    display: flex;

    grid-row: 1 / 3;  /* 只占第二列 */
    grid-column: 2 / 3;

    height: 60px; /*僅占第二列的高度 */
    padding: 10px;

    /*gap: 10%;*/

    align-items: center;
    justify-content: space-between;

    /* border: 5px solid rgb(70, 70, 70); */
    border-radius: 10px;

    margin: 10px;
}

.title {
    color: aliceblue;

    font-family: 'Consolas';
    font-size: xx-large;
    font-weight: bold;
    font-display: block;

    letter-spacing: 0.3px;
}

.quick_search_container {
    position: relative;
    height: 100%;

    display: flex;
    align-items: stretch;
}

.quick_search {
    flex: 1;

    padding: 5px 20px;

    color:aliceblue;

    font-family: consolas;
    font-size: large;

    background: rgb(0, 0, 0);

    border: 2px solid rgb(30, 30, 30);
    border-radius: 100px;

    outline: none;

    transition: border-radius 150ms;
}   

.quick_search:hover {
    border-color: rgb(70, 70, 70);
}

.quick_search:not(:placeholder-shown) {
    border-color: rgb(74, 201, 220);
}

.quick_search-list {
    display: none;

    position: absolute;
    padding: 5px 20px;
    top: 100%;

    border-top: none;

    background: rgb(0, 0, 0);
    color: aliceblue;

    border: 2px solid rgb(74, 201, 220);
    border-radius: 10px;

    z-index: 10;
}