.head_bar {
    display: flex;

    grid-row: 1 / 3;  /* 只占第二列 */
    grid-column: 2 / 3;

    height: 60px; /*僅占第二列的高度 */
    padding: 10px;

    /*gap: 10%;*/

    align-items: center;
    justify-content: space-between;

    /* border: 5px solid rgb(70, 70, 70); */
    border-radius: 10px;

    margin: 10px;
}

.title {
    color: aliceblue;

    font-family: 'Consolas';
    font-size: xx-large;
    font-weight: bold;
    font-display: block;

    letter-spacing: 0.3px;
}

@media (max-width: 768px) {
    .title {
        font-size: large;
    }
}

.quick_search_container {
    position: relative;
    height: 100%;

    display: flex;
    align-items: stretch;
}

.quick_search {
    flex: 1;

    padding: 5px 20px;

    color:aliceblue;

    font-family: consolas;
    font-size: large;

    background: rgb(0, 0, 0);

    border: 2px solid rgb(30, 30, 30);
    border-radius: 20px;

    outline: none;
}   

.quick_search:hover {
    border-color: rgb(70, 70, 70);
}

.quick_search:not(:placeholder-shown) {
    border-color: rgb(74, 201, 220);
}

.quick_search.open {
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
}

.quick_search.shake {
    animation: shake 300ms;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    60% { transform: translateX(-1px); }
    80% { transform: translateX(1px); }
    100% { transform: translateX(0);}
}

.quick_search-list {
    display: none;

    position: absolute;
    padding: 5px 20px;
    top: 100%;

    width: 100%;
    box-sizing: border-box;

    border-top: none;

    background: rgb(0, 0, 0);
    color: rgb(205, 215, 224);

    border-left: 2px solid rgb(74, 201, 220);
    border-right: 2px solid rgb(74, 201, 220);
    border-bottom: 2px solid rgb(74, 201, 220);
    border-radius: 0px 0px 20px 20px;

    font-size: large;
    font-family: consolas;

    z-index: 10;
}

.suggest_word:hover{
    background-color: rgb(30, 30, 30);
    color: rgb(74, 201, 220);

    cursor: pointer;
}

.sync_panel {
    display: flex;
    align-items: center;

    position: relative;

    color: aliceblue;

    padding: 0.5em;

    border-radius: 100px;
    background-color: rgb(70, 70, 70);

    font-family: consolas;

    gap:5px;
}

.sync_push {
    border-radius: 100px;
    padding: 5px;
    background-color: black;
}

.head_bar_tooltip {
    position: absolute;

    top: 120%;

    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    width: max-content;

    padding: 5%;
    
    background-color: #000;

    border-radius: 20px;

    box-shadow: 0 4px 10px #00000040;

    cursor: default;

    pointer-events: none;

    font-size: small;

    transition: opacity 150ms ease, transform 200ms ease;

    opacity: 0;

    z-index: 100;
}

.sync_panel:hover .head_bar_tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}