.main_page {
    /* display: flex; */

    height: calc(100% - 100px);

    gap: 10px;
}

.main_card {
    /* display: flex; */

    align-items: center;
    justify-items: center;
    
    color: aliceblue;
    border-radius: 10px;
    border: 1px solid rgb(70, 70, 70);

    width: 30%;

    padding: 1%;

    transition: transform 200ms ease;

    height: max-content;
}

.main_card-text {
    font-size: large;
    font-family: consolas;
}

.progress-count-number {
    font-family: consolas;
    font-size: xx-large;
    font-weight: 1000;

    animation: gradient-flow 6s ease-in-out infinite;
}

.vocab_progress_bar {
    display: flex;
    flex-direction: column;

    width: 100%;
    text-align: center;

    gap: 10px;
}

.progress {
    height: 16px;
    background: #000;
    border-radius: 100px;
    overflow: hidden;

    border: 1px solid rgb(70, 70, 70);
}

.progress-bar {
    width: 40%;              /* 目前進度 */
    height: 100%;

    background-size: 300% 100%;
    background: linear-gradient(135deg, rgb(141, 240, 255), rgb(194, 133, 255));

    animation: gradient-flow 6s ease-in-out infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

@media (max-width: 768px) {
    .main_page {
        flex-direction: column;
        gap: 30px;
    }
    .main_card {
        width: 90%;
        
    }
    .progress-count-number {
        font-size: x-large;
    }

}

