.main_page {
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
}

.main_card {
    /* display: flex; */
    background-color: rgb(70, 70, 70);
    color: aliceblue;
    border-radius: 10px;

    width: 30%;

    padding: 1%;

    transition: transform 200ms ease;
}

.main_card:hover {
    background-color: rgb(100, 100, 100);

    transform: scale(1.02);
}

.main_card-text {
    font-size: large;
    font-family: consolas;
}

.progress-count-number {
    font-family: consolas;
    font-size: xx-large;
    font-weight: 1000;

    background: linear-gradient(135deg, rgb(141, 240, 255), rgb(194, 133, 255), rgb(141, 240, 255));
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;

    animation: gradient-flow 6s ease-in-out infinite;
}

.progress {
  width: 100%;
  height: 16px;
  background: #000;
  border-radius: 100px;
  overflow: hidden;
  margin: 2%;
}

.progress-bar {
  width: 40%;              /* 目前進度 */
  height: 100%;

  background-size: 300% 100%;
  background: linear-gradient(135deg, rgb(141, 240, 255), rgb(194, 133, 255));

  animation: gradient-flow 6s ease-in-out infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

@media (max-width: 768px) {
    .main_page {
        flex-direction: column;
        gap: 30px;
    }
    .main_card {
        width: 90%;
        
    }
    .progress-count-number {
        font-size: x-large;
    }

}

