.side_bar {
    grid-row: 2 / 3;  /* 只占第二列 */
    grid-column: 1 / 2;

    background: rgb(10, 10, 10);

    height: 100%;      /* 僅占第二列的高度 */

    display: flex;

    flex-direction: column;
}

.side_bar.collapse {
    width: 44px;

    transition: all 500ms;
}

.side_bar.collapse .nav_item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 5px;
    padding: 10px 5px;
    width: 24px;

    transition: all 500ms;
}

.side_bar.collapse .nav_text {
    display: none;

    transition: all 500ms;
}

.side_bar.collapse .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0px 5px;
    padding: 5px;
    width: 24px;

    transition: all 500ms;
}

.logo {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    padding: 3%;
}

.nav_list {
    padding: 0;
    margin: 0;
}

.nav_item {
    display: flex;

    border-radius: 10px;

    border: 1px solid transparent;

    padding: 3%;

    margin: 5px 10px;

    text-align: center;

    align-items: center;

    gap: 10px;
}

.nav_item:not(.nav_item.active):hover {
    border: 1px solid rgb(70, 70, 70);

    cursor: pointer;
}

.nav_item:not(.nav_item.active):hover .nav_text {
    color: rgb(74, 201, 220);
}

.nav_item.active {
    background-color: rgb(30, 30, 30);
}

.nav_text {
    font-size: medium;
    color: white;
}

.toggle_debug {
    color: aliceblue;
    background-color: transparent;
    margin-top: auto;
}

.toggle_debug_box {
    outline: none;
}